@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');

:root {

  --color-primary: #219ebc;
  --color-primary-light: #8ecae6;
  --color-primary-dark: #023047;

  --color-secondary: #fb8500;
  --color-secondary-light: #ffb703;

  --color-danger: #ff6761;
  --color-success: #04d1b6;
  --color-info: #318f82;
  --color-warning: #fae18e;

  --color-white: #fffefe;
  --color-grey-1: #f1f1f1;
  --color-grey-2: #e2e2e2;
  --color-grey-3: #d4d4d4;
  --color-dark: #1b1b1b;
  --color-white: #fcf8f8;

  --m-xxs:0.1rem;
  --m-xs:0.5rem;
  --m-s:1rem;
  --m-m:1.5rem;
  --m-l:2rem;
  --m-xl:2.5rem;

  --padding: 1rem 10rem;

  --primary-gradient: linear-gradient(to right, var(--color-primary-light), var(--color-primary));
  --secondary-gradient: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
  --tertiary-gradient: linear-gradient(to right, var(--color-primary-light), var(--color-grey-3));

  --danger-gradient: linear-gradient(to right,#ffcccb, var(--color-danger));

  --primary-gradient-btn: radial-gradient(var(--color-primary), var(--color-primary-light));
  --secondary-gradient-btn: radial-gradient(var(--color-danger) 80%,var(--color-secondary));


}


body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Open Sans';
  color: var(--color-grey-1);
  letter-spacing: 1px;
  font-weight: 400;
  background-image: var(--secondary-gradient);
  text-align: center;
  /* padding: var(--padding); */
}

body ul{
  /* border:3px orangered solid; */
  padding: 0;
  list-style-type: none;
}

body li{
  list-style: none;
  margin-bottom: 0.5rem;
}

body li:hover{
  cursor: pointer;
  color:orangered;
}

body li:active{
  transform: translateY(2px);
}